<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <div class="fix-10-12 toCenter">
          <h1 class="ae-1">Our clients</h1>
          <div class="ae-2"><p>Design is all around us, in our homes, in buildings, architecture, landscaping, products, movies, television, and much more.</p></div>
        </div>
        <div class="fix-12-12">
          <!-- remove class tintLogos to disable color change of logo images -->
          <ul class="grid grid-68 tintLogos equal">
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-3">
                <div class="cell">
                  <img width="89" src="assets/img/bbc.png" alt="BBC"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-4">
                <div class="cell">
                  <img width="115" src="assets/img/google.png" alt="Google"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-5">
                <div class="cell">
                  <img width="42" src="assets/img/apple.png" alt="Apple"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-6">
                <div class="cell">
                  <img width="124" src="assets/img/canon.png" alt="Canon"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-7">
                <div class="cell">
                  <img width="83" src="assets/img/nike.png" alt="Nike"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-8">
                <div class="cell">
                  <img width="153" src="assets/img/greenpeace.png" alt="Green Peace"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-3">
                <div class="cell">
                 <img width="125" src="assets/img/facebook.png" alt="Facebook"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-4">
                <div class="cell">
                  <img width="85" src="assets/img/audi.png" alt="Audi"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-5">
                <div class="cell">
                  <img width="52" src="assets/img/warner-bros.png" alt="Warner Bros"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-6">
                <div class="cell">
                  <img width="155" src="assets/img/microsoft.png" alt="Microsoft"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-7">
                <div class="cell">
                  <img width="116" src="assets/img/coca-cola.png" alt="Coca Cola"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-8">
                <div class="cell">
                  <img width="133" src="assets/img/reebok.png" alt="Reebok"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-3">
                <div class="cell">
                  <img width="67" src="assets/img/adidas.png" alt="Adidas"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-4">
                <div class="cell">
                  <img width="116" src="assets/img/vimeo.png" alt="Vimeo"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-5">
                <div class="cell">
                  <img width="74" src="assets/img/nbc.png" alt="NBC"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-6">
                <div class="cell">
                  <img width="127" src="assets/img/sony.png" alt="Sony"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-7">
                <div class="cell">
                  <img width="65" src="assets/img/playstation.png" alt="PlayStation"/>
                </div>
              </div>
            </li>
            <li class="col-2-12 col-tablet-1-4 col-phablet-1-2 col-phone-1-1">
              <div class="table wide equalElement ae-8">
                <div class="cell">
                  <img width="125" src="assets/img/national-geographic.png" alt="National Geographic"/>
                </div>
              </div>
            </li>
          </ul>
        </div>
                
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/img-68.jpg)"></div>
</section>